[Desktop Entry]
Name=54321
Comment=Five simple 3D games
Comment[pl]=Pięć prostych gier 3D
Exec=/usr/bin/54321
Icon=
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;BoardGame;
# vi: encoding=utf-8
